<form >
  <label for="Name" class="col-sm-2 col-form-label">Name </label>
  <input class="form-control" #name name="Name" type="text" placeholder="Enter Name">

  <label for="date" class="col-sm-2 col-form-label">Date </label>
  <input class="form-control" #date name="Date" type="date" placeholder="Enter Date">

  <label for="Duration" class="col-sm-2 col-form-label">Duration </label>
  <input class="form-control" #duration name="Duration" type="number" placeholder="Enter Duration">

  <div class="form-check"> 
    <label   for="" class="col-sm-2 col-form-label" >Classes</label>
    <div  *ngFor="let cl of classes">
      {{cl}}<input #classesArray[] name=""type="checkbox" id="blankCheckbox" value="{{cl}}" >
    </div>
 
  </div>
 

  <button class="mt-4 btn btn-primary btn-lg btn-block" (click)="addevent(name.value, date.value, duration.value, classesArray[])">Add
    Event</button>
</form>