<form >
  <label for="Name" class="col-sm-2 col-form-label">Name </label>
  <input class="form-control" #name name="Name" type="text" placeholder="Enter Name">

  <label for="date" class="col-sm-2 col-form-label">Date </label>
  <input class="form-control" #date name="Date" type="date" placeholder="Enter Date">

  <label for="Duration" class="col-sm-2 col-form-label">Duration </label>
  <input class="form-control" #duration name="Duration" type="number" placeholder="Enter Duration">

  <div class="form-check">
    <label   for="interest[]" class="col-sm-2 col-form-label">Classes</label>
    a<input  #interest name="interest[]"type="checkbox" id="blankCheckbox" value="0" >
    b<input #interest name="interest[]"type="checkbox" id="blankCheckbox" value="1" >
    c<input #interest name="interest[]"type="checkbox" id="blankCheckbox" value="2" >
    d<input #interest name="interest[]"type="checkbox" id="blankCheckbox" value="3" >

  </div>

  <button class="mt-4 btn btn-primary btn-lg btn-block" (click)="addevent(name.value, date.value, duration.value, interest)">Add
    Event</button>
</form>